<div ng-controller="Tab1Ctrl">
  <form class="col-sm-6">
    <h4>Basic controls</h4>
    <div class="form-group">
      <label for="inputNodeQuantity">Number of nodes:</label>
      <input class="form-control" id="inputNodeQuantity" ng-model="form.nodeQuantity" required >
    </div>
    <div class="form-group">
      <label for="inputFieldWidth">Field width (m):</label>
      <input class="form-control" id="inputFieldWidth" ng-model="form.fieldWidth" required >
    </div>
    <div class="form-group">
      <label for="inputFieldHeight">Field height (m):</label>
      <input class="form-control" id="inputFieldHeight" ng-model="form.fieldHeight" required >
    </div>
  </form>

  <form class="col-sm-6">
    <h4>Ranges and localization</h4>
    <div class="form-group">
      <label for="inputFieldMaxRange">Maximum range (m):</label>
      <input class="form-control" id="inputFieldMaxRange" ng-model="form.fieldMaxRange" required/>
    </div>
    <div class="form-group">
      <label for="inputFieldMinRange">Minimum range (m):</label>
      <input class="form-control" id="inputFieldMinRange" ng-model="form.fieldMinRange" required>
    </div>
    <div class="form-group">
      <label for="inputLocationAccuracy">Localization {{}}accuracy (m):</label>
      <input class="form-control" id="inputLocationAccuracy" ng-model="form.locationAccuracy" required>
    </div>
  </form>

  <form class="col-sm-12">
    <div class="checkbox">
      <label>
        <h4><input type="checkbox" checked>  Random waypoint mobitity model</h4>
      </label>
    </div>
    <div class="form-group">
      <label for="inputNodeSpeed">Node max. speed</label>
      <input class="form-control" id="inputNodeSpeed" ng-model="form.nodeMaxSpeed" placeholder="in pixels/step">
    </div>
  </form>

  <form class="col-sm-12">
    <h4>Display parameters</h4>
    <label class="checkbox-inline">
      <input type="checkbox" ng-change="redrawSimulation()" ng-model="form.displayRanges"> Display ranges
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" ng-change="redrawSimulation()" ng-model="form.displayConnections"> Display connections (subjective)
    </label>
    <br/>
    <span ng-show="form.displayConnections">
      <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" ng-change="redrawSimulation()" ng-model="form.planarization" value="no"> No plnrztn
      </label>
      <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" ng-change="redrawSimulation()" ng-model="form.planarization" value="gg"> GG
      </label>
      <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" ng-change="redrawSimulation()" ng-model="form.planarization" value="ggMy"> GG (My)
      </label>
      <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" ng-change="redrawSimulation()" ng-model="form.planarization" value="rng"> RNG
      </label>
    </span>

  </form>


</div>
